
.floating{
    box-shadow: 0 1px 15px 2px rgba(0,0,0,0.2);
    background: var(--primary-color)

}

.navbar-nav{
    flex-direction: row !important;
    flex-wrap: wrap;
}

.nav-item{
    margin: auto;
}

.nav-item{
    margin: 0 5px 2px 0;
} 
#home-icon{
    background: var(--third-color) !important;
    color:var(--bg-white) !important;
}

@media (max-width: 551px){
    #navbar-nav{
        margin-left: 0 !important;
        justify-content: center;
    }
    #home-icon{
        width: 100%;
        margin-bottom: 10px;
    }
   
}